{% extends "front/base.html" %}

{% block content %}

<section id="main" class="wrapper">
	<div class="inner">
		<form action="" method="get">
			<div class="row uniform">
				<div class="align-center 12u$">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
				</div>
			</div>
		</form>

		<div class="table-wrapper">
			<table>
				{% for function in function_list %}
					<tr>
						<td>{{ function.pk }}</td>
						<td><a href="{% url 'front:function' function.pk %}">
							\( {{ function.function }} \)
						</a></td>
					</tr>
				{% empty %}
					Sorry, no functions available.
				{% endfor %}
			</table>
		</div>
	</div>
</section>

{% endblock %}
