{% extends "front/base.html" %}

{% block content %}

<section id="main" class="wrapper">
	<div class="inner">
		<form action="" method="get">
			<div class="row uniform">
				<div class="2u"></div>
				<div class="8u align-center">
					{{ form.as_p }}
					<ul class="actions">
						<li><input type="submit" value="Search" class="button special" /></li>
					</ul>
				</div>
				<div class="2u"></div>
			</div>
		</form>

		<header>
			<h3>List of functions:</h3>
		</header>

		<div class="table-wrapper">
			{% if function_list %}
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Function name</th>
					</tr>
				</thead>

				<tbody>
				{% for function in function_list %}
					<tr>
						<td><a href="{% url 'front:function' function.pk %}">{{ function.pk }}</a></td>
						<td>\( {{ function.function }} \)</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% else %}
				Sorry, no functions available.
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}
