{% extends "front/base.html" %}

{% block content %}

<section class="wrapper">
	<div class="inner">
		<header class="align-center">
			From user: {{ proposition.user.username }}
		</header>

		<div class="row">
			<section class="12u">
				<h2>Content:</h2>
				<div class="box">
					{{ proposition.content }}
				</div>
			</section>
		</div>

		<div class="row">
			<section class="12u 12u$(medium)">
				<form action="" method="post">
					{% csrf_token %}
					{{ form_accept }}
					<div class="align-right">
						<input type="submit" name="delete"/>
					</div>
				</form>
			</section>
		</div>
	</div>
</section>

{% endblock %}
