{% extends "front/base.html" %}

{% load staticfiles %}

{% block content %}

	<!-- === BEGIN CONTENT === -->
	<section id="main" class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h2>Welcome to OEMS</h2>
				<p>The Online Encyclopedia of Mathematical Series containing <i>{{ number_series }}</i> mathematical objects.</p>
			</header>

			<form action="{% url 'front:mathematical_objects' %}" method="get">
				<div class="row uniform">
					<div class="2u"></div>
					<div class="8u align-center">
						{{ form.as_p }}
						<ul class="actions">
							<li><input type="submit" value="Search" class="button special" /></li>
						</ul>
					</div>
					<div class="2u"></div>
				</div>
			</form>

			<div class="row">
				<section>
					<h3>Find</h3>
					<p>You can use the main menu to move through the 3 principal concepts of this website. You will find a list of all the elements related where you can access each of them individually to get more information. You can also perform searches to refine your results either by inserting words in the case of names or by typing an expression in the form of LaTeX language.</p>
				</section>

				<section>
					<h3>Contribute & Improve</h3>
					<p>You can contribute to the project by proposing new mathematical objects to be added or by posting modifications to the explanatory text associated with each element.</br>
						For those with some graphic or programming skills, it is possible to contribute and improve the project through the associated <a href="https://github.com/Gawaboumga/OEMS">Github repository</a>.</br>
						You can also give some ideas to improve the website or report bugs, directly by the list of propositions or on the github page of the project.</p>
				</section>
			</div>
		</div>
	</section>

{% endblock %}