{% extends "front/base.html" %}

{% block content %}

<script>
var Preview = {
    //
    //  Get the preview and buffer DIV's
    //
  	Init: function(name) {
  	    this.input = document.getElementById("id_" + name);
        this.preview = document.getElementById(name + "_preview");
        this.buffer = document.getElementById(name + "_buffer");
  		this.delay = 500;       // delay after keystroke before updating
        this.timeout = null;    // store setTimout id
        this.mjRunning = false; // true when MathJax is processing
        this.mjPending = false; // true when a typeset has been queued
        this.oldText = null;    // used to check if an update is needed
    },

    //
    //  Switch the buffer and preview, and display the right one.
    //  (We use visibility:hidden rather than display:none since
    //  the results of running MathJax are more accurate that way.)
    //
    SwapBuffers: function () {
        var buffer = this.preview, preview = this.buffer;
        this.buffer = buffer; this.preview = preview;
        buffer.style.visibility = "hidden"; buffer.style.position = "absolute";
        preview.style.position = ""; preview.style.visibility = "";
    },
    //
    //  This gets called when a key is pressed in the textarea.
    //  We check if there is already a pending update and clear it if so.
    //  Then set up an update to occur after a small delay (so if more keys
    //    are pressed, the update won't occur until after there has been
    //    a pause in the typing).
    //  The callback function is set up below, after the Preview object is set up.
    //
	Update: function () {
	    console.log("Update");
        if (this.timeout) {
            clearTimeout(this.timeout);
        }
        this.timeout = setTimeout(MathJax.Callback(["CreatePreview", this]), this.delay);
        console.log(this.timeout);
    },
    //
    //  Creates the preview and runs MathJax on it.
    //  If MathJax is already trying to render the code, return
    //  If the text hasn't changed, return
    //  Otherwise, indicate that MathJax is running, and start the
    //    typesetting.  After it is done, call PreviewDone.
    //
    CreatePreview: function () {
        this.timeout = null;
        if (this.mjPending)
            return;

        var text = this.input.value;

        if (text === this.oldText)
            return;
        if (this.mjRunning) {
            this.mjPending = true;
            MathJax.Hub.Queue(["CreatePreview", this]);
        } else {
            this.buffer.innerHTML = this.oldText = "$" + text + "$";
            this.mjRunning = true;
            MathJax.Hub.Queue(
                ["Typeset", MathJax.Hub, this.buffer],
                ["PreviewDone", this]
            );
        }
    },
    //
    //  Indicate that MathJax is no longer running,
    //  and swap the buffers to show the results.
    //
	PreviewDone: function () {
        this.mjRunning = this.mjPending = false;
        this.SwapBuffers();
    }
};

var previewers = {};

preview = function (name) {
    if (previewers[name] === undefined) {
        previewers[name] = Object.create(Preview);
        previewers[name].Init(name);
    }
    previewers[name].Update();
}
</script>

<section id="main" class="wrapper">
	<div class="inner">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <div class="align-right">
                <input type="submit" value="Submit">
            </div>
        </form>

        {% if form.subject.errors %}
            <ol>
            {% for error in form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}
    </div>
</section>

{% endblock %}
