{% extends "front/base.html" %}
{% load front_filters %}

{% block content %}

<div class="wrapper">
	<div class="inner">
		<header class="align-center">
			<h2>From user: {{ modification.user }} for mathematical object: <a href="{% url 'front:mathematical_object' modification.mathematical_object.pk %}">{{ modification.mathematical_object.pk }}</a></h2>
		</header>

		<div class="row">
			<section class="12u">
				<h2>Old content:</h2>
				{% if modification.mathematical_object.get_content %}
					<div class="box">
						{{ modification.mathematical_object.get_content|show_markdown|safe }}
					</div>
				{% else %}
					<p>Content was empty.</p>
				{% endif %}
			</section>
		</div>

		<div class="row">
			<section class="12u">
				<h2>New content:</h2>
				<div class="box">
					{{ modification.get_content|show_markdown|safe }}
				</div>
			</section>
		</div>

		<div class="row">
			<section class="12u">
				<form action="" method="post">
					{% csrf_token %}
					{{ form_accept }}
					<div class="align-right">
						{% if perms.api.delete_modification %}
							<input type="submit" name="accept_modification" value="Accept" />
							<input type="submit" name="reject_modification" value="Reject" />
						{% else %}
							<input type="submit" name="reject_modification" value="Delete" />
						{% endif %}
					</div>
				</form>
			</section>
		</div>
	</div>
</section>

{% endblock %}
