{% extends "front/base.html" %}

{% block content %}

<section id="main" class="wrapper">
	<div class="inner">
		<header>
			<h3>List of modifications:</h3>
		</header>

		<div class="table-wrapper">
			{% if modifications %}
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Created on:</th>
						<th>By user:</th>
					</tr>
				</thead>

				<tbody>
				{% for modification in modifications %}
				<tr>
					<td><a href="{% url 'front:modification' modification.pk %}">{{ modification.pk }}</a></td>
					<td>{{ modification.date_created }}</td>
					<td>{{ modification.user }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			{% else %}
				Sorry, no modifications available.
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}
