{% extends "front/base.html" %}

{% block content %}

<section id="main" class="wrapper">
	<div class="inner">
		<header class="align-center">
			<h2>Tag: {{ tag.tag }}</h2>
		</header>

		<div class="table-wrapper">
			<table>
				{% for mathematical_object in tag.mathematicalobject_set.all %}
					<tr>
						<td><a href="{% url 'front:mathematical_object' mathematical_object.pk %}">{{ mathematical_object.pk }}</a></td>
						<td>\( {{ mathematical_object.latex }} \)</td>
					</tr>
				{% empty %}
					Sorry, no mathematical objects related.
				{% endfor %}
			</table>
		</div>
	</div>
</section>

{% endblock %}
